

<% content_for :header do %>
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sell A Gadget 
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  
 
 <%= render 'gadgets/form', gadget: @gadget %>
  
</div>